libignition-math2-dev
ros-melodic-camera-\*
ros-melodic-ddynamic-reconfigure-\*
ros-melodic-depthimage-to-laserscan
ros-melodic-desktop-full
ros-melodic-gazebo-\*
ros-melodic-slam-\*
ros-melodic-image-\*
ros-melodic-joint\*
ros-melodic-move\*
ros-melodic-naoqi-\*
ros-melodic-octomap\*
ros-melodic-pepper-meshes
ros-melodic-ros-control
ros-melodic-ros-controllers
ros-melodic-rosbridge-\*
ros-melodic-tf2-\*
ros-melodic-amcl
ros-melodic-joy
ros-melodic-rtabmap-ros
