<launch>
  <arg name="camera_bottom" default="/naoqi_driver/camera/bottom"/>
  <arg name="camera_front" default="/naoqi_driver/camera/front/"/>
  <arg name="camera_depth" default="/naoqi_driver/camera/depth"/>
  <arg name="camera_ir" default="/naoqi_driver/camera/ir"/>

  <!-- Launch the image_proc node -->
  <node pkg="nodelet" type="nodelet" args="manager" name="record_manager"/>

  <!-- Republish the rectified and color-corrected image
  <group ns="$(arg camera_bottom)">
      <node name="image_proc" pkg="image_proc" type="image_proc"/>
  </group>

  <group ns="$(arg camera_front)">
    <node name="image_proc" pkg="image_proc" type="image_proc"/>
  </group>-->
  <!-- Convert the depth image to an RGB image -->
  <node pkg="nodelet" type="nodelet" name="conversion_depth" args="load depth_image_proc/convert_metric record_manager --no-bond">
    <remap from="image_raw" to="$(arg camera_depth)/image_raw"/>
    <remap from="image" to="$(arg camera_depth)/image_rgb"/>
  </node>

  <group ns="$(arg camera_depth)">
    <node name="image_proc" pkg="image_proc" type="image_proc">
      <remap from="image_raw" to="$(arg camera_depth)/image_rgb"/>
    </node>
  </group>

  <!-- Depth Registerd-->
  <node pkg="nodelet" type="nodelet" name="register" args="load depth_image_proc/register record_manager --no-bond">
    <remap from="depth/image_rect" to="$(arg camera_depth)/image_rect"/>
    <remap from="depth/camera_info" to="$(arg camera_depth)/camera_info"/>
    <remap from="rgb/camera_info" to="$(arg camera_front)/camera_info"/>
    <remap from="depth_registered" to="$(arg camera_depth)/registered"/>
  </node>
<!--
  <node pkg="nodelet" type="nodelet" name="conversion_ir" args="load depth_image_proc/convert_metric record_manager">
    <remap from="image_raw" to="$(arg camera_ir)/image_raw"/>
    <remap from="image" to="$(arg camera_ir)/image_rgb"/>
  </node>
  <group ns="$(arg camera_ir)">
    <node name="image_proc" pkg="image_proc" type="image_proc">
      <remap from="image_raw" to="$(arg camera_ir)/image_rgb"/>
    </node>
  </group>
  -->



</launch>
